<dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>MajiScope needs your location to report water problems accurately</string>
    
    <key>NSCameraUsageDescription</key>
    <string>MajiScope needs camera access to take photos of water problems</string>
    
    <key>NSPhotoLibraryUsageDescription</key>
    <string>MajiScope needs photo library access to select images</string>
    
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>MajiScope needs permission to save photos</string>
    
    <!-- Other keys -->
</dict>
